# DISCLAIMER: This does not mean that any of the specified paths below are owned by that person.
# This file works simple to request a review from the code owners for PR's and related issues.
# For more information see the links below:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners

# https://code.forgejo.org/forgejo/forgejo/src/tag/v10.0.1/CODEOWNERS


# Global Owner
* @Funtimes909

# Documentation Owner
LICENSE @Nucceteere
README @Nucceteere
*.rst @Nucceteere
*.md @Nucceteere
*.txt @Nucceteere
docs/ @Nucceteere